body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 94vh;
}

.one {
    display: flex;

    &__content {
        background-color: #fff;
        width: 35vw;
        height: 94vh;
        margin: 20px 0 20px 0;
    }

    &__header {
        display: flex;
        justify-content: space-around;

    }

    &__left {
        display: flex;
        margin-top: 80px;
    }

    &__logo {
        margin: 0 30px 0 0;
    }

    &__select {
        border: none;
        font-size: 15px;
    }

    &__right--sign {
        margin-left: 30px;
        color: #E0604E;
    }

    &__right {
        display: flex;
        margin-top: 83px;
    }

    &__bigtext {
        margin-top: 150px;
        max-width: 300px;
        margin-left: 11%;
        font-weight: 400;
        font-family: "Noto Serif SC";
        font-size: 40px;
    }

    &__currate {
        margin-left: 11%;
        margin-top: 30px;
        // display: block;
        display: flex;
        font-size: 16px;

        img {
            margin-left: 8vw;
        }
    }

    &__textp {
        margin-left: 11%;
        max-width: 400px;
        margin-top: 10px;
    }

    &__texti {
        margin-left: 11%;
        margin-top: 20px;

        input {
            border: none;
            font-size: 16px;
        }
    }

    hr {
        width: 360px;
        margin-left: 60px;
    }

    &__hr {
        // border: 1px solid #000000;
        // width: 415px;
        display: flex;
        margin-left: 11%;
        margin-top: 15px;

        &--line {
            width: 40px;
            height: 3px;
            // border: 1px solid black;
            background-color: #000000;
        }

        &--line2 {
            width: 320px;
            height: 3px;
            // border: 1px solid grey;
            background-color: grey;
            opacity: 0.5
        }
    }



}

.center {
    // margin: 0 auto;
    margin-left: 20vw;
    padding-top: 45vh;

    &__block {
        position: relative;
        z-index: 2;

    }

    &__black {
        background-color: #000000;
        color: #fff;
        width: 311px;
        height: 30px;
        position: absolute;
        z-index: 3;
        top: 20px;
        left: 44px;
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
    }

    &__circle {
        display: block;
        margin-left: 10.2vw;
        // margin-top: -7vh;
        position: absolute;
        top: 250px;
    }

    &__white {
        position: absolute;
    }

    &__text {
        position: absolute;
        text-align: center;
        font-size: 17px;
        left: 80px;
        top: 100px;
        width: 248px;
        z-index: 4;
    }

    &__buttons {
        position: absolute;
        z-index: 5;
        display: flex;
        width: 400px;
        justify-content: space-around;

        &--cancel {
            // margin-left: 90px;
            margin-top: 27vh;
            border: none;
            background: none;
            margin-left: 20px;
            font-size: 14px;
        }

        &--save {
            margin-left: -50px;
            margin-top: 24.5vh;

            background: #E0604E;
            width: 135px;
            height: 40px;
            border: none;
            color: #fff;
        }
    }

}